$color-1: darkred;
$color-2: yellowgreen;
$color-3: #005813;
$color-4: #1a007a;
$color-5: #fff;

h1{
    width: fit-content;
    background-color: $color-5;
    margin: 40px auto;
    border-radius: 60px;
    box-shadow: 5px 5px 0 $color-4;
    padding: 20px 30px;
}
.opcion .nombreAcertada{
    background-color:$color-2;
    color: $color-5;
}
.opcion .letraAcertada{
    background-color:$color-2;
    color: $color-5 ;
}
/* clases que se aplicaran cuando se equivoque en la opcion elegida (cambio de color)*/
.opcion .nombreNoAcertada{
    background-color:$color-1;
    color: $color-5;
}
.opcion .letraNoAcertada{
    background-color:$color-1;
    color: $color-5;
}

@media (max-width: 700px) {
    body{    
        background: url(../img/fondo.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
  }